
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #0E0B16;
    }

  li {
      float: left;
  }

  li a {
      display: block;
      color: #0E0B16;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) > ul {
      display: block;
      background-color: #0E0B16;
  }

  .active {
      background-color: #4717F6 ;
  }

  body {
      background:#0E0B16;
      color: #E7DFDD;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      top: 0px;
      left: 0px;
      margin: 0px;
      padding: auto;
      text-align: justify;
    }

  .img-1   {
    margin: 120px 160px;
    align-items: center;
    width: 100%;
    height: 200%;

      }

  nav {
    background-color:#;
    width: 100%;
    height: 5rem;
  }

  nav ul {
    float: left;
    display: flex;
  }

  nav ul li {
    float: left;
    list-style: none;
    position: relative;
  }

  nav h3 {
    padding: 1rem 2rem;
    float:left;
    align-self: center;
  }

  nav ul li a {
    display: block;
    padding: 0 2rem;
    line-height: 5rem;
    color:#E7DFDD
  }

  nav ul li ul {
    display: none;
  }

  nav ul li:hover ul {
    display: block;
  }

  nav ul li ul li {
    width: 100%;
  }

  nav ul li ul li a {
      padding: 1rem;
      line-height: unset;
      white-space: nowrap;


    }

  .parrafo .p{
      text-align: center;
      padding-top: 1%;
      width: 100%;
      height: 250px;
      display: flex
    }

  .EDUCACIÓN {
      margin: 0px 160px;
      padding: 0px;
      background: #0E0B16;
  }

  .EXPERIENCIA {
      margin: 50px 160px;
      padding: 0px;
      background: #0E0B16;
    }

  .CURSOS {
      margin: 40px 160px;
      padding: 0px;
      background: #0E0B16;
    }

  .Portafolio.p {
      text-align: justify;
      display: flex;
      gap: 0px;
      padding: 2px;

      text-align: center;
      padding-top: 30px;
      font-size: 20px;
      font-weight: 300;
        }

  .Portafolio {
      margin: 5em 5em;
      display: flex;
      gap: 0px;
      padding: 2px;
      align-self: center;
    } 

  footer {
      background: hsl(38, 22%, 10%) 0% 0% no-repeat 
      opacity: 0.94;
      left: 0px;
      width: 100%;
      height: 102px;
    }

  footer p {
      text-align: center;
      padding-top: 30px;
      font-size: 20px;
      font-weight: 300;
  }
    
      






      


