
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0E0B16;
  }


li {
    float: left;
}

li a {
    display: block;
    color: #0E0B16;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) > ul {
    display: block;
    background-color: #0E0B16;
}

.active {
    background-color: #4717F6 ;
}

body {
    background:#0E0B16;
    color: #E7DFDD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 0px;
    left: 0px;
    margin: 0%;
    align-self: center;
  }

nav {
  background-color:#;
  width: 100%;
  height: 5rem;
}

nav ul {
  float: left;
  display: flex;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;

}

nav h3 {
  padding: 1rem 2rem;
  float:left;
  align-self: center;

}

nav ul li a {
  display: block;
  padding: 0 2rem;
  line-height: 5rem;
  color:#E7DFDD

}

nav ul li ul {
  display: none;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 1rem;
  line-height: unset;
  white-space: nowrap;
}


  header {
    padding: 0px;
    text-align: center;
  }
  
  .parrafo .p{
    text-align: center;
    padding-top: 1%;
    width: 100%;
    height: 250px;
  }

  .EDUCACIÓN {
    padding: 0px;
    background: #0E0B16;
    display: flex;
  }

  .EXPERIENCIA {
    padding:0px;
    background: #0E0B16;
    display: flex;
  }

  .CURSOS {
    padding: 0px;
    background: #0E0B16;
    display:flex
  }

  .Portafolio {
    background:#E7DFDD;
    display: flex;
    gap: 0px;
    padding: 2px;
    align-self: center;
  }

  .Portafolio.p{
    padding: 0px;
    text-align: center;
    display: flex;
  }

footer {
    background: hsl(38, 22%, 10%) 0% 0% no-repeat 
    opacity: 0.94;
    left: 0px;
    width: 100%;
    height: 102px;
  }
footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 300;
}
  
    






    



  /* header {
    width: 1280px;
    height: 59px;
    padding: 0px;
  }
  h1 {
    color:#ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  .img-1 {
    text-align: center;
    left: 0px;
    width: 100%;
    opacity: 1;
  }
  .centro {
    justify-content: space-evenly;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 348px;
    padding-top: 45px;
  }
  .parrafo {
    background: #1e1a13;
    text-align: center;
    padding-top: 1%;
    width: 100%;
    height: 250px;
  } 
  .parrafo p {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 300;
  }
  .img-2 {
    width: 399px;
  }
  .caracteristicas {
    background: #1e1a13;
    text-align: center;
    padding-top: 1%;
    width: 100%;
    height: 250px;
  }
  .caracteristicas h2 {
    font-size: 40px;
    font-weight: 500;
  }
  .caracteristicas-caja {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 20px;
    width: 80%;
    padding-left: 6%;
  }
  .caracteristicas-caja div {
    width: 40%;
  }
  .caracteristicas-caja p {
    font-size: 1.5rem;
    font-weight: 300;
  }
.galeria {
    display: flex;
    gap: 20px;
    margin-top: 5%;
    margin-left: 10%;
    width: 1280px;
    height: 250px;
  }
  .galeria img {
    width: 316px;
    height: 202px;
  }
  footer {
    background: #1e1a13 0% 0% no-repeat 
    opacity: 0.94;
    left: 0px;
    width: 100%;
    height: 102px;
  }
  footer p {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 300;
  } */